@using ecom.Data.ViewModels
@model ShoppingCartVM
@using System.Globalization
@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/Front/_Layout.cshtml";
    Thread.CurrentThread.CurrentCulture = new CultureInfo("lk-LK");
}
<style>
    .cart__btn__list li a
    {
        background: #839db6 none repeat scroll 0 0;
    }

    .mainmenu__nav .meninmenu li a
    {
            color: #000;
    }

	.blureffect
	{
		/* Add the blur effect */
		filter: blur(1px);
		-webkit-filter: blur(1px);
	}
    .section-padding--lg {
        padding: 40px 0 80px 0;
    }
</style>

        <div class="ht__bradcaump__area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner">
                        	<h2 class="bradcaump-title">Checkout 
                                <span class="brd-separetor">>></span>
                                Cart
                            </h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" asp-route="Home">Home</a>
                              <span class="brd-separetor">>></span>
                              <span class="breadcrumb_item active">Checkout</span>
							  <span class="brd-separetor">>></span>
                              <span class="breadcrumb_item active">Cart</span>
                            </nav>
                        </div>
						<hr style="margin-top:10px;">
                    </div>
                </div>
            </div>
        </div>
<!-- cart-main-area start -->
        <div class="cart-main-area section-padding--lg bg--white mt--10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ol-lg-12">
                        <form action="#">               
                            <div class="table-content wnro__table table-responsive">
                              @if (Model.shoppingCart.ShoppingCartItems.Count() > 0){
                                <table>
                                    <thead>
                                        <tr class="title-top">
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Book</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                            <th class="product-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.shoppingCart.ShoppingCartItems)
                                        {
                                            <tr>
                                            <td class="product-thumbnail"><a href="#"><img src="@item.Book.Image" alt="@item.Book.Name" style="width: 70px; height:100px;"></a></td>
                                            <td class="product-name"><a href="#">@item.Book.Name</a></td>
                                            <td class="product-price"><span class="amount">@item.Book.Price.ToString("c")</span></td>
                                            <td class="product-quantity">
                                                <input class="text-center" min="1" type="number" value="@item.Amount" disabled>
                                                <a asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@item.Book.Id" style="font-size: 18px !important; padding:15px;"><i class="fa fa-plus"></i></a>
                                                <a asp-controller="Orders" asp-action="RemoveFromShoppingCart" asp-route-id="@item.Book.Id" tyle="font-size: 18px !important; padding:15px;"><i class="fa fa-minus"></i></a>
                                            </td>
                                            <td class="product-subtotal">@((item.Amount*item.Book.Price).ToString("c"))</td>
                                            <td class="product-remove">
                                                <a asp-controller="Orders" asp-action="RemoveFromShoppingCart" asp-route-id="@item.Book.Id" asp-route-qty="@item.Amount" style="padding:0px;"><i class="fa fa-times" style="color: #cd3a3a; line-height:0px; font-size:21px;"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table> 
                              }
                              else
                              {
                                  <div class="col-md-12 col-sm-12 ol-lg-12 text-center" style="padding: 40px;">
                                    <h2>No Items in cart</h2>
                                  </div>
                                  
                              }
                            </div>
                        </form> 
                        <div class="cartbox__btn">
                            <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                                @if (Model.shoppingCart.ShoppingCartItems.Count() > 0)
                                {
                                    @* <li><a href="#">Coupon Code</a></li>
                                    <li><a href="#">Apply Code</a></li> 
                                    <li><a href="#">Update Cart</a></li>*@
                                    <li><a asp-action="Checkout" >Check Out</a></li>
                                    <div class="cart__total__amount">
                                        <span>Grand Total : &nbsp; </span>
                                        <span>@Model.ShoppingCartTotal.ToString("c")</span>
                                    </div>
                                }
                                else{
                                    <li><a asp-route="Home">Back To Home</a></li>
                                    <li><a asp-route="Shop">Visit Collection</a></li>
                                }
                                
                            </ul>
                        </div>
                    </div>
                </div>
                @* <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="cartbox__total__area">
                             <div class="cartbox-total d-flex justify-content-between">
                                <ul class="cart__total__list">
                                    <li>Cart total</li>
                                    <li>Sub Total</li>
                                </ul>
                                <ul class="cart__total__tk">
                                    <li>$70</li>
                                    <li>$70</li>
                                </ul>
                            </div> 
                            <div class="cart__total__amount">
                                <span>Grand Total</span>
                                <span>@Model.ShoppingCartTotal.ToString("c")</span>
                            </div>
                        </div>
                    </div>
                </div> *@
            </div>  
        </div>
        <!-- cart-main-area end -->
