@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List of User";
    ViewData["Head"] = "Users Management";
    ViewData["Users"] = "active";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}


<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				
				<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
				<div class="heading-elements">
					<ul class="list-inline mb-0">
						<li><a><i>Users List</i></a></li>
						<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="card-content collapse show">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Username</th>
									<th>Email</th>
                                    <th>Address</th>
                                    <th>Number</th>
								</tr>
							</thead>
							<tbody>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    i++;
                                    
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td> @item.FirstName @item.LastName</td>
                                        <td> @item.UserName </td>
                                        <td> @item.Email </td>
                                        <td>@item.Address</td>
                                        <td>@item.PhoneNumber</td>
                                    </tr>
                                }
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>